body {
	font-family: sans-serif;
}

h1 {
	color: #ffcc00;
}

#container {
  display: flex; /* or inline-flex */
  flex-direction: row; /* default */
  width: 100%;
}

figure {
	width: 25%;
}

figcaption {
	padding: .5em;
}

img {
	max-width: 100%;
	height: auto;
}