body {
	font-family: sans-serif;
}

h1 {
	color: #ffcc00;
}

#container {
  display: flex; /* or inline-flex */
  flex-direction: row; /* default */
  width: 100%;
}

figure {
	width: 25%;
}

figcaption {
    background-color: rgba(211, 133, 75, .8);
    bottom: 2.4em;
    float: right;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    position: relative;
}

img {
	max-width: 100%;
	height: auto;
}